{:paths ["src/clj"]
 :deps
 {org.clojure/clojure     {:mvn/version "1.10.0"}
  org.clojure/tools.cli   {:mvn/version "0.4.1"}
  irresponsible/tentacles {:mvn/version "0.6.3"}
  clj-time                {:mvn/version "0.15.1"}}}
